@import './assets/font/FuturaPT/stylesheet.css';

:root {
  font-family: 'Futura PT', sans-serif;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background: none;
  cursor: pointer;
}

input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}